#main {
  width: 100%;
  background: radial-gradient(
    circle, #ffbc00 0%, transparent 31%
    );
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secondary-image {
  height: 30em;
}

/* #slot1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

} */

#slot1img {
  height: 7em;

}

.container1 {
  position: relative;
  right: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container1 .box1 {
  position: relative;
  width: 80%;
  height: 8em;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 0.5s;
}

.container1 .box1:hover {
  transform: translateY(-20px);
}

.container1 .box1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container1 .box1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.container1 .box1 span {
  position: absolute;
  top: 6px;
  left: 0px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container1 .box1 .content1 {
  position: relative;
  z-index: 10;
  padding: 0px 20px 0px 20px;
  max-height: 100px;
  display: flex;
}

#slot2 {
  width: 100%;

}

#slot2img {
  height: 7em;
  float: left;
}

.container2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container2 .box2 {
  position: relative;
  width: 80%;
  height: 8em;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: start;
  align-items: center;

  transition: 0.5s;
}

.container2 .box2:hover {
  transform: translateY(-20px);
}

.container2 .box2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container2 .box2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.container2 .box2 span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 0px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container2 .box2 .content2 {
  position: relative;
  z-index: 10;
  padding: 0px 20px 0px 20px;
  max-height: 100px;
  display: flex;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
