.wrapper  > a {
  background: #eee;
}

#projects {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.title {
  grid-column: 1/2;
  text-align: center;
  text-decoration: underline;
}

.projectTitle {
  grid-column: 1/3;
}

.wowsText {
  grid-column: 1/3;
}

.wowsImg {

}

.reactionText {
  grid-column: 1/3;
}

.reactionImg {

}

.projectImages {
  height: 30vh
}
